{% block content %}
<form method="post" action="{% url 'login' %}">
{% csrf_token %}

<div>
  <table>
  <colgroup>
  	<col style="text-align:left" />
  	<col style="text-align: right" />
  </colgroup>
  <tr>
  	<td> {{ form.input_username.label_tag }}</td>
  	<td>{{ form.input_username }}</td>
  </tr>
  <tr>
  	<td> {{ form.input_email.label_tag }}</td>
  	<td>{{ form.input_email }}</td>
  </tr>
  <tr>
  	<td> {{ form.input_password.label_tag }}</td>
  	<td>{{ form.input_password }}</td>
  </tr>
  </table>
</div>

<div>
  <input type="submit" value="login" />
  <input type="hidden" name="next" value="{{ next }}" />
</div>
</form>

{% endblock %}